@model DrugStore.Models.User
@{
    ViewBag.Title = "Chỉnh sửa người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section id="admin-content" class="p-3">
    <h3 class="mb-4">Thêm mới thành viên</h3>
    <form method="post" action="/Users/EditUsers/@Model.User_Id" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input readonly type="text"  value="@Model.User_Namme" name="username" class="form-control" placeholder="tên đăng nhập" />

                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input readonly type="password"  value="@Model.Password" name="password" class="form-control" placeholder="mật khẩu" />

                </div>
                <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" value="@Model.Full_Name" name="fullname" class="form-control" placeholder="họ tên" />
                    @Html.Raw(ViewData["errorFullname"])

                </div>
                <div class="form-group">
                    <label>Quyền</label>
                    @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" value="@Model.Email" name="email" class="form-control" placeholder="email" />
                    @Html.Raw(ViewData["errorEmail"])

                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" value="@Model.Phone" name="phone" class="form-control" placeholder="phone" />
                    @Html.Raw(ViewData["errorPhone"])

                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" value="@Model.Address" name="address" class="form-control" placeholder="địa chỉ" />
                    @Html.Raw(ViewData["errorAddress"])
                </div>
                <div class="form-group">
                    <label>Hình đại diện</label>
                    <input type="file" accept="image/*" name="avatar" class="form-control" placeholder="avatar" />
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-success">Lưu lại</button>
                <a class="btn btn-secondary" href="/Users/Users">Quay lại</a>
            </div>
            @Html.Raw(ViewData["notice"])
        </div>
    </form>
</section>


