@model IEnumerable<DrugStore.Models.Drug>
    <div class="product-sec1">
        <h3 class="heading-tittle">Sản phẩm mới</h3>
        @foreach (var item in Model)
        {
            <div class="col-md-4 product-men">

                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="~/images/Products/@item.Drug_Id/@item.Images" alt="" style="width: 120px; height:120px">
                        <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product ">
                        <h4>
                            <a href="single.html">@item.Drug_Name</a>
                        </h4>
                        <div class="info-product-price">
                            <span class="item_price">@item.Price</span>
                            <del>@item.Price</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="@item.Drug_Name" />
                                    <input type="hidden" name="amount" value="@item.Price" />
                                    <input type="hidden" name="discount_amount" value="1000.00" />
                                    <input type="hidden" name="currency_code" value="VND" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>



            </div>
        }
        <div class="clearfix"></div>
    </div>
