@model IEnumerable<DrugStore.Models.Drug>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/Home/Index">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Sản phẩm</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- top Products -->
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Sản Phẩm
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <!-- //product left -->
        @Html.Action("LeftSideBar", "Partial")
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9 w3l-rightpro">
            <div class="wrapper">
                @{
                    var products = Model.ToList();
                    var i = 0;
                }
                <!-- first section -->

                @while (i < products.Count())
                {
                    var max = i + 3;
                    var end = max >= products.Count() ? products.Count() : max;

                    <div class="product-sec1">
                        @while (i < end)
                        {
                            <div class="col-xs-4 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <div class="image__product" style="background-image: url(../../Content/User/images/a1.jpg)"></div>
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>
                                            <a href="/Home/Details/@products[i].Drug_Id" class="title__product">@products[i].Drug_Name</a>
                                        </h4>
                                        <div class="info-product-price">
                                            <span class="item_price">@String.Format("đ{0:#,###}", products[i].Price)</span>
                                            <del>@String.Format("đ{0:#,###}", products[i].Price)</del>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="@products[i].Drug_Name" />
                                                    <input type="hidden" name="amount" value="@products[i].Price" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                        <div class="clearfix"></div>
                    </div>
                }
                <!-- //first section -->
            </div>
        </div>
        <!-- //product right -->
    </div>
</div>
