@model DrugStore.Models.Drug
@{
    ViewBag.Title = "AddDrugs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <section id="admin-content" class="p-3">
        <h3 class="mb-4" style=" text-align: center">Thêm mới thuốc</h3>
        @using (Html.BeginForm("AddDrugs", "Drugs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true)
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên thuốc</label>
                        <input type="text" name="Drug_Name" class="form-control" placeholder="Tên thuốc" />
                        @Html.ValidationMessageFor(model => model.Drug_Name)
                        @ViewBag.ErrorDN
                    </div>
                    <div class="form-group">
                        <label>Giá bán</label>
                        <input type="text" name="Price" class="form-control" placeholder="Giá bán" />
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input type="number" name="Quantity" class="form-control" placeholder="Số lượng" />
                        @Html.ValidationMessageFor(model => model.Quantity)
                    </div>
                    <div class="form-group">
                        <label>Nhà sản xuất</label>
                        @Html.DropDownList("Manu_Id")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ngày sản xuất</label>
                        <input type="date" name="Mfg" class="form-control" placeholder="phone" />
                    </div>
                    <div class="form-group">
                        <label>Hạn sử dụng</label>
                        <input type="date" name="Exp" class="form-control" placeholder="address" />
                    </div>
                    <div class="form-group">
                        <label>Hình mô tả</label>
                        <input type="file" name="Images" class="form-control" placeholder="avatar" />
                        @ViewBag.ErrorImg
                    </div>
                    <div class="form-group">
                        <label>Loại thuốc</label>
                        @Html.DropDownList("Cate_Id")
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Mô tả</label>
                        <div class="col-md-10">
                            <textarea name="Desc"></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-success">Lưu lại</button>
                    <a class="btn btn-secondary" href="/Drugs/Drugs">Quay lại</a>
                </div>
            </div>
        }


    </section>

