@model DrugStore.Models.Drug

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div  style="padding: 20px;">
        <div style="text-align: center">
            <h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
            <h3>Bạn quyết định xóa sản phẩm này?</h3>
        </div>
        <div style="border: 2px solid;border-radius: 15px;">            
            
            <dl class="dl-horizontal" style=" margin: 10px">
                <dt>
                    <img style="margin: 10px auto 20px; display: block;" src="@Url.Content("~/images/Products/"+Model.Drug_Id+"/"+ Model.Images)" width="220px" height="280px" />

                </dt>
                <dt>
                    Tên thuốc:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Drug_Name)
                </dd>

                <dt>
                    Thông tin:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>             

                <dt>
                    Số lượng: 
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    Ngày sản xuất:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MFG)
                </dd>

                <dt>
                    Hạn sử dụng:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EXP)
                </dd>

                <dt>
                    Nhà chung cấp:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacturer1.Name)
                </dd>

                <dt>
                    Loại thuốc:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category1.Cate_Name)
                </dd>

                <dt>
                    Giá bán:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color" style="margin: 10px">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Quay lại", "Drugs")
                </div>
            }
        </div>
    </div>
