@model IEnumerable<DrugStore.Models.Drug>

@{
    ViewBag.Title = "Drugs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="admin-content" class="p-3">
    <h3 class="mb-3">Danh sách thành viên</h3>
    <div class="row">
        <div class="col-md-8">
            <a href="user-add.html" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>STT</th>
                <th>Hình mô tả</th>
                <th style="width: 50px">Tên thuốc</th>
                <th style="width: 250px">Mô tả</th>
                <th>SL</th>
                <th>NSX</th>
                <th>HSD</th>
                <th style="width: 50px">NPP</th>
                <th style="width: 50px">Loại thuốc</thstyle="width:>
                <th>Giá bán</th>
                <th style="width: 100px">#</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }

            @foreach (var drug in Model)
            {
                <tr>
                    <td>@i</td>
                    <td><img style="width:140px; height:140px" src="~/images/Products/@drug.Images" alt=""></td>
                    <td>@drug.Drug_Name</td>
                    <td>@drug.Description</td>
                    <td>@drug.Quantity</td>
                    <td>@drug.MFG</td>
                    <td>@drug.EXP</td>
                    <td>@drug.Manufacturer</td>
                    <td>@drug.Category</td>
                    <td>@drug.Price</td>
                    <td>
                        <a href="user-edit.html" class="btn btn-sm btn-info">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                i++;

            }

        </tbody>
    </table>
</section>

